<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.app.payment.mapper.PassLogMapper">

    <resultMap id="PassLogResultMap" type="com.project.app.payment.domain.PassLog">
        <id property="passLogId" column="pass_log_id" />
        <result property="userPassId" column="user_pass_id" />
        <result property="brchId" column="brch_id" />
        <result property="chgTypeCd" column="chg_type_cd" />
        <result property="chgCnt" column="chg_cnt" />
        <result property="chgRsn" column="chg_rsn" />
        <result property="usrId" column="usr_id" />
        <result property="regDt" column="reg_dt" />
    </resultMap>

    <select id="findAll" resultMap="PassLogResultMap">
        SELECT * FROM pass_log ORDER BY reg_dt DESC
    </select>

    <select id="findById" resultMap="PassLogResultMap">
        SELECT * FROM pass_log WHERE pass_log_id = #{passLogId}
    </select>

    <insert id="insert" parameterType="com.project.app.payment.domain.PassLog" useGeneratedKeys="true" keyProperty="passLogId">
        INSERT INTO pass_log (
            user_pass_id,
            brch_id,
            chg_type_cd,
            chg_cnt,
            chg_rsn,
            usr_id,
            reg_dt
        ) VALUES (
            #{userPassId},
            #{brchId},
            #{chgTypeCd},
            #{chgCnt},
            #{chgRsn},
            #{usrId},
            NOW()
        )
    </insert>

    <update id="update" parameterType="com.project.app.payment.domain.PassLog">
        UPDATE pass_log
        SET
            user_pass_id = #{userPassId},
            brch_id = #{brchId},
            chg_type_cd = #{chgTypeCd},
            chg_cnt = #{chgCnt},
            chg_rsn = #{chgRsn},
            usr_id = #{usrId}
        WHERE pass_log_id = #{passLogId}
    </update>

    <delete id="delete">
        DELETE FROM pass_log WHERE pass_log_id = #{passLogId}
    </delete>

</mapper>
