@charset 'UTF-8';

.toolbar-left {
    margin-right: 5px;
}

.toolbar {
    position: relative;
}

.btn-register {
    position: absolute;
    top : 0px;
    right: 0px;
}

.btn-primary {
    margin-left: 5px;
}


.modal-overlay-sporttype {
    position: fixed;
    inset: 0;                 /* top/right/bottom/left = 0 */
    background: rgba(0, 0, 0, 0.45);
    z-index: 9998;

    display: flex;
    align-items: center;
    justify-content: center;

    /* ✅ overlay 자체가 클릭을 먹어야 뒤로 안 통과함 */
    pointer-events: auto;
}

.modal-area {
    width: 500px;
    padding-top: 0;
    border: 2px solid #999;
    border-radius: 10px;
    position: absolute;
    top : 50%;
    left: calc(50% + 125px);
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-title {
    display:block;
    margin: 0 10px 0 0;
    text-align: center;
}
